@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon--like:before {
  content: "\e900";
}

.icon--bag:before {
  content: "\e901";
}

.icon--search:before {
  content: "\e902";
}

.icon--person:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Mulish";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 85.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.quantity {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quantity--plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
  background: #ED165F;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #fff;
  width: 10px;
  height: 2px;
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  width: 100%;
  text-align: center;
}

body::after {
  content: "";
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 10;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 20;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 0.9375rem;
  max-width: 85.5rem;
  width: 100%;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 150;
  background: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 0px 0.3125rem 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.375em;
     -moz-column-gap: 2.375em;
          column-gap: 2.375em;
}

.menu__item {
  color: #000;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1.125rem;
  /* 128.571% */
  letter-spacing: 0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  padding: 0px 0.6875rem 0.8125rem 0.6875rem;
  position: relative;
  -webkit-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  height: 0.0625rem;
  background: transparent;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.menu__link.clicked {
  color: #ED165F;
}

.menu__link.clicked::before {
  background: #ED165F;
  width: 100%;
}

.menu__logo {
  position: relative;
  z-index: 5;
}

.menu__logo img {
  max-width: 100%;
}

.menu__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875em;
     -moz-column-gap: 1.875em;
          column-gap: 1.875em;
  position: relative;
  z-index: 5;
}

.menu__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__input {
  border-bottom: 0.03125rem solid rgba(0, 0, 0, 0.5);
}

.menu__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.2px;
}

.menu__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.2px;
}

.menu__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.2px;
}

.menu__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.2px;
}

.menu__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.2px;
}

.menu__button {
  -webkit-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 1.25rem;
}

.menu__button span {
  position: absolute;
  color: #ED165F;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
      -ms-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
  font-size: 10px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
  pointer-events: none;
}

.menu__button.clicked {
  color: #ED165F;
}

.icon-menu {
  display: none;
}

.article {
  text-align: center;
  padding-top: 6.25em;
}

.article__boxtitle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.article__boxtitle::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  height: 1px;
  background: #000;
}

.article__title {
  font-size: 2.5em;
  font-weight: 700;
  background: #fff;
  position: relative;
  /* 60% */
}

.article__container {
  max-width: 68.6875rem;
}

.article__text {
  font-size: 1.5em;
  line-height: 2.1875rem;
}

.bord__container {
  padding-top: 3.8125em;
}

.bord__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
  row-gap: 4em;
}

.item.clicked {
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item.clicked .item__hide {
  opacity: 1;
  visibility: visible;
}

.item__image {
  position: relative;
  padding-bottom: 151.666667%;
  /* 455/300 */
}

.item__image img {
  max-width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.item__hide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.25);
}

.item__button {
  color: #000;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: 0.2px;
  border-radius: 2px;
  background: #FFF;
  padding: 0.6875rem 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.6875rem;
     -moz-column-gap: 0.6875rem;
          column-gap: 0.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
  -webkit-tap-highlight-color: transparent;
}

.item__button.clicked {
  color: #ED165F;
}

.item__info {
  padding: 1.875em 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  background: #FFF;
}

.item__name {
  color: #000;
  text-align: center;
  font-size: 1.25em;
  line-height: 0.875rem;
  letter-spacing: 0.2px;
}

.item__price {
  font-size: 1.25em;
  text-align: center;
}

.popup__title {
  color: #000;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 18px;
  /* 75% */
  letter-spacing: 0.2px;
  margin-bottom: 4.875rem;
}

.popup__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
}

.popup__button {
  color: #000;
  font-size: 1.125em;
  font-weight: 800;
  line-height: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.6875rem 1.5rem;
  border-radius: 6px;
  border: 1px solid #ED165F;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.popup__button.clicked {
  background: #ED165F;
  color: #fff;
}

.popbord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.popbord > * {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.popbord__text-legend {
  color: #686868;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.2px;
}

*:focus {
  outline: none;
}

.solditem__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  padding: 2.125em 1.9375em 1.25em 1.9375em;
  border: 1px solid #000;
}

.solditem__image-ibg {
  width: 5.375rem;
  padding-bottom: 5.375rem;
  margin-bottom: 1.75rem;
}

.solditem__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.375em;
}

.solditem__name {
  color: #000;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.125rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* 90% */
  letter-spacing: 0.2px;
}

.solditem__prise {
  color: #000;
  font-size: 1.25em;
}

.solditem__remove {
  color: #ED165F;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 18px;
  /* 112.5% */
  letter-spacing: 0.2px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solditem__remove::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url("../img/Group.svg");
}

.solditem__cell {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 0px;
  row-gap: 1.125rem;
}

.total__subblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Mulish;
  font-size: 1.5em;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  font-weight: 600;
}

.total__prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.total__subinfo {
  color: #686868;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.2px;
}

@media (min-width: 85.5em) {
  .popup__content {
    font-size: 1rem;
  }

  [class*=__container] {
    font-size: 1rem;
  }

  .menu__input {
    width: 10.9375rem;
  }

  .article__title {
    padding-right: 7rem;
  }

  .article__title {
    padding-left: 7rem;
  }

  .popup__content {
    padding-top: 6.25rem;
  }
}

@media (min-width: 62em) {
  .menu__logo {
    padding-right: 4.0625em;
  }

  .menu__form {
    padding-right: 0.5625em;
  }
}

@media (max-width: 62em) {
  .menu__list {
    -webkit-column-gap: 1.125em;
       -moz-column-gap: 1.125em;
            column-gap: 1.125em;
  }

  .menu__action {
    -webkit-column-gap: 0.9375em;
       -moz-column-gap: 0.9375em;
            column-gap: 0.9375em;
  }
}

@media (max-width: 48em) {
  .popup__actions {
    -webkit-column-gap: 1.875em;
       -moz-column-gap: 1.875em;
            column-gap: 1.875em;
  }

  .popup__button {
    padding: 0.375rem 1rem;
    font-size: 0.9375em;
  }

  .popbord > * {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .popbord__text-legend {
    display: none;
  }

  .solditem__card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media (max-width: 20em) {
  .popup__content {
    font-size: 0.625rem;
  }

  [class*=__container] {
    font-size: 0.625rem;
  }

  .menu__input {
    width: 6.25rem;
  }

  .article__title {
    padding-right: 1.875rem;
  }

  .article__title {
    padding-left: 1.875rem;
  }

  .popup__content {
    padding-top: 3.125rem;
  }
}

@media (max-width: 49.9375em) {
  .menu__body {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(248, 246, 246, 0.6705882353);
    width: 100%;
    height: 100vh;
    padding-top: 3.125em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s linear 0s;
    transition: opacity 0.2s linear 0s;
  }

  .menu-open .menu__body {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 2.375em;
       -moz-column-gap: 2.375em;
            column-gap: 2.375em;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(18, 17, 17, 0.548);
            box-shadow: 0px 1px 10px 0px rgba(18, 17, 17, 0.548);
    border-radius: 0.625rem;
    padding: 15px;
    max-width: 80%;
    overflow: auto;
    background: #fff;
  }

  .menu__item {
    color: #000;
    text-align: center;
    font-size: 0.625em;
    font-weight: 700;
    line-height: 0.875rem;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(18, 17, 17, 0.548);
            box-shadow: 0px 1px 10px 0px rgba(18, 17, 17, 0.548);
    border-radius: 0.625rem;
  }

  .menu__link {
    padding-top: 0.375rem;
    border-radius: 0.625rem;
  }

  .menu__link::before {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.25rem;
    height: 1rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .bord__body {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 49.9375em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.5em) {
  .bord__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .popup__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .popup__button {
    width: 60%;
    font-size: 0.75em;
    padding: 0.375rem 0.625rem;
  }
}

@media (max-width: 26.25em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875em;
    min-width: 80%;
    max-height: 60%;
  }

  .menu__item {
    width: 100%;
  }

  .menu__link {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .bord__body {
    -ms-grid-columns: 80%;
    grid-template-columns: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 20em) and (max-width: 85.5em) {
@supports (font-size: clamp( 0.625rem , 0.5104961832rem  +  0.572519084vw , 1rem )) {
    .popup__content {
      font-size: clamp( 0.625rem , 0.5104961832rem  +  0.572519084vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5104961832rem  +  0.572519084vw , 1rem )) {
    .popup__content {
      font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 65.5);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5104961832rem  +  0.572519084vw , 1rem )) {
    [class*=__container] {
      font-size: clamp( 0.625rem , 0.5104961832rem  +  0.572519084vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5104961832rem  +  0.572519084vw , 1rem )) {
    [class*=__container] {
      font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 65.5);
    }
}

@supports (width: clamp( 6.25rem , 4.8187022901rem  +  7.1564885496vw , 10.9375rem )) {
    .menu__input {
      width: clamp( 6.25rem , 4.8187022901rem  +  7.1564885496vw , 10.9375rem );
    }
}

@supports not (width: clamp( 6.25rem , 4.8187022901rem  +  7.1564885496vw , 10.9375rem )) {
    .menu__input {
      width: calc(6.25rem + 4.6875 * (100vw - 20rem) / 65.5);
    }
}

@supports (padding-right: clamp( 1.875rem , 0.3101145038rem  +  7.8244274809vw , 7rem )) {
    .article__title {
      padding-right: clamp( 1.875rem , 0.3101145038rem  +  7.8244274809vw , 7rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 0.3101145038rem  +  7.8244274809vw , 7rem )) {
    .article__title {
      padding-right: calc(1.875rem + 5.125 * (100vw - 20rem) / 65.5);
    }
}

@supports (padding-left: clamp( 1.875rem , 0.3101145038rem  +  7.8244274809vw , 7rem )) {
    .article__title {
      padding-left: clamp( 1.875rem , 0.3101145038rem  +  7.8244274809vw , 7rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.3101145038rem  +  7.8244274809vw , 7rem )) {
    .article__title {
      padding-left: calc(1.875rem + 5.125 * (100vw - 20rem) / 65.5);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.1708015267rem  +  4.7709923664vw , 6.25rem )) {
    .popup__content {
      padding-top: clamp( 3.125rem , 2.1708015267rem  +  4.7709923664vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.1708015267rem  +  4.7709923664vw , 6.25rem )) {
    .popup__content {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 65.5);
    }
}
}

@media (any-hover: hover) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu__link:hover {
    color: #ED165F;
  }

  .menu__link:hover::before {
    background: #ED165F;
    width: 100%;
  }

  .menu__button:hover {
    color: #ED165F;
  }

  .item:hover {
    background: #FFF;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .item:hover .item__hide {
    opacity: 1;
    visibility: visible;
  }

  .item__button:hover {
    color: #ED165F;
  }

  .popup__button:hover {
    background: #ED165F;
    color: #fff;
  }
}